version: '3'

services:
    mariadb:
        image: mariadb:latest
        container_name: mariadb
        hostname: mariadb
        volumes:
            - /docker/phpdb/mariadb:/var/lib/mysql
        restart: always
        expose:
            - "3306"
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - TZ=Asia/Shanghai
        networks:
            - caddy_net

    phpmyadmin
        image: phpmyadmin:fpm-alpine
        container_name: phpmyadmin
        restart: always
        ports: 
          - "8081:80"
        environment: 
          PMA_HOST: mariadb
        networks:
          - caddy_net

    phpfpm:
        image: php:fpm-alpine
        container_name: phpfpm
        build: 
          context: ./php
          dockerfile: Dockerfile
        volumes:
            - /docker/phpdb/www:/var/www/html
        restart: always
        expose:
            - "9000"
        environment:
            - TZ=Asia/Shanghai
        networks:
            - caddy_net

networks:
    caddy_net: